
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-resize-small:before { content: '\e801'; } /* '' */
.icon-zoom-in:before { content: '\e802'; } /* '' */
.icon-zoom-out:before { content: '\e803'; } /* '' */
.icon-left-open-mini:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */