{% extends 'base.twig' %}

{% block conteudo %}

<style>
	.pagina {
		width: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>

<section>
	<div class="mask">
		<div class="menu">
			<a class="Button _button-opcoes" id="full"  onclick="toggleFullScreen()"><i class="icon-resize-full"></i></a>
			<a class="Button _button-opcoes"><i class="icon-zoom-in"></i></a>
			<a class="Button _button-opcoes"><i class="icon-zoom-out"></i></a>
		</div>
	</div>
	<div class="Leitor owl-carousel">
		{% for item in post.get_field('paginas') %}

			<div class="item pagina" style="background-image: url({{ Image(item.pagina).src }}); height: {{ Image(item.pagina).height }}px"></div>
		
		{% endfor %}
	</div>
</section>

<script type="text/javascript">
	function toggleFullScreen() {
	  if ((document.fullScreenElement && document.fullScreenElement !== null) ||    
	   (!document.mozFullScreen && !document.webkitIsFullScreen)) {
	    if (document.documentElement.requestFullScreen) {  
	      document.documentElement.requestFullScreen();  
	    } else if (document.documentElement.mozRequestFullScreen) {  
	      document.documentElement.mozRequestFullScreen();  
	    } else if (document.documentElement.webkitRequestFullScreen) {  
	      document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);  
	    }  
	  } else {  
	    if (document.cancelFullScreen) {  
	      document.cancelFullScreen();  
	    } else if (document.mozCancelFullScreen) {  
	      document.mozCancelFullScreen();  
	    } else if (document.webkitCancelFullScreen) {  
	      document.webkitCancelFullScreen();  
	    }  
	  }  
	}

	document.onkeypress = function(evt) {
	    evt = evt || window.event;
	    var charCode = evt.keyCode || evt.which;
	    var charStr = String.fromCharCode(charCode);

	    if(charStr == 'f') {
	    	toggleFullScreen();
	    }
	};
</script>

{% endblock %}