/******************************************/
/******************GERAL********************/
/******************************************/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body, p, h1, h2, h3, 
h4, h5, h6, span, a, .Button {
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1170px;
}

a {
    text-decoration: none;
}

/********************************************/
/******************HEADER********************/
/********************************************/

.Header {
    background-color: #4c9df1;
}

.Header .nav {
    text-align: right;
}

.Header .nav .search {
    display: inline-block;
    margin-right: 30px;
    width: 35%;
}

.Header .nav .search form {
    margin-bottom: 0;
}

.Header .nav .search input {
    display: inline-block;
    width: 80%;
    color: #4c9df1;
    font-weight: 700;
}


.Header .nav ul {
    display: inline-block;
}

.Header .nav ul li {
    display: inline-block;
    padding: 18px 10px;
}

.Header .nav ul li a{
    color: #fff;
    font-weight: 700;
}

.Header .nav ul li a:hover {
    color: #ffffffbf;
}

/********************************************/
/******************TITLE*********************/
/********************************************/

.Title {
    position: relative;
    margin: 70px 0;
    color: #4c9df1;
    text-align: center;
}

.Title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 2px;
    background-color: #4c9df1;
}

/********************************************/
/******************BUTTON********************/
/********************************************/

.Button {
    width: 110px;
    background-color: #4c9df1;
    font-size: 17px;
}

.Button:hover {
    color: #4c9df1;
    background-color: #fff;
    border: 2px solid #4c9df1;
}

.mask {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
}

.menu {
    position: absolute;
    top: 10%;
    right: 6%;
    z-index: 20;
}

.mask:hover {
    background-color: #4c4c4c3b;
}

.mask:hover ._button-opcoes {
    display: inline-block;
}

._button-opcoes {
    display: none;
    padding: 0;
    width: 40px;
    background-color: #3c3c3c73;
    font-size: 18px;
    z-index: 15;
}

._button-opcoes:hover {
    background-color: #3c3c3c4f;
    color: #fff;
    border: none;
}

._button-search {
    padding: 0;
    width: 50px;
    color: #4c9df1;
    background-color: #fff;
    font-size: 17px;
    border: 2px solid #fff;
}

._button-search:hover {
    background-color: #4c9df1;
    color: #fff;
    border: 2px solid #fff;
}

/********************************************/
/******************BOX NOVIDADE**************/
/********************************************/

.box-novidade {
    display: block;
    text-align: center;
}

.box-novidade .thumb-novidade {
    display: inline-block !important;
    width: 20% !important;
}


.Novidades .owl-nav .owl-prev {
    position: absolute;
    left: 25%;
    bottom: 140px;
    color: #4c9df1;
    font-size: 70px;
    z-index: 10;
}

.Novidades .owl-nav .owl-next {
    position: absolute;
    right: 25%;
    bottom: 140px;
    color: #4c9df1;
    font-size: 70px;
    z-index: 10;
}

/********************************************/
/******************LISTA HQS*****************/
/********************************************/

.Lista-hqs {
    text-align: center;
}

.box-hq {
    margin-bottom: 2%;
    padding: 10px;
    border: 2px solid #4c9df1;
}

.hover:hover .Button {
    color: #4c9df1;
    background-color: #fff;
    border: 2px solid #4c9df1;
}

.hover:hover .thumb {
    opacity: 0.7;
}

.thumb {
    margin: 0 auto;
    width: 50%;
}

.titulo {
    margin: 20px 0;
    height: 60px;
    color: #4c9df1;
    text-decoration: none;
}

/********************************************/
/******************HQS***********************/
/********************************************/
/*.pagina {
    margin: 0 auto;
    width: auto !important;
}*/

.easyzoom {
    display: block;
}